<wm-page name="mainpage" data-ng-controller="MainPageController" columns="3" layouttype="three-column">
    <wm-header name="header" height="auto" content="header"></wm-header>
    <wm-top-nav name="top-nav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-row name="contentRow">
            <wm-left-panel name="leftpanel" content="leftnav" contentwidth="2"></wm-left-panel>
            <wm-column class="app-content-column" name="mainContent" paddingright="15" paddingleft="15" columnwidth="8">
                <wm-label name="Heading" caption="Home" fontsize="20"></wm-label>
                <wm-html name="bodyContent" height="auto" width="100%">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta gravida nisi, ac volutpat nibh adipiscing et. Fusce hendrerit nisi sed augue molestie pellentesque. Proin quis leo condimentum, tempus augue sit amet, aliquet
                        erat.
                    </p>
                </wm-html>
                <wm-composite name="composite1" widget="text">
                    <wm-label class="col-md-2" name="label2"></wm-label>
                    <wm-text name="text1"></wm-text>
                </wm-composite>
            </wm-column>
            <wm-right-panel name="rightpanel" content="rightnav" contentwidth="2"></wm-right-panel>
        </wm-row>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>